[submodule "vendor/network"]
	path = vendor/network
	url = https://github.com/MasterQ32/zig-network
[submodule "vendor/uri"]
	path = vendor/uri
	url = https://github.com/MasterQ32/zig-uri
[submodule "vendor/wolfssl"]
	path = vendor/wolfssl
	url = https://github.com/wolfSSL/wolfssl
